*{
	margin:0;
	padding: 0;
	box-sizing: border-box;

}
html {
  scroll-behavior: smooth;
}
body{
	background-color: #393e46;
	margin-bottom: 0;

}
a,h3,h2{
	font-family: 'Montserrat', sans-serif;
}
p{
	font-family: 'Tenali Ramakrishna', sans-serif;
}
#title{
	width: 80%;
	margin:auto;
	height: auto;
	background-image: url("cvtitle.jpg");

}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}


.profile-img{
	display: flex;

}
#disciption{
	margin-top: 20px;

}
.profile-img{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:  30px 0 20px 0;
}
.cv-img{

	width:250px;
	height: auto;
	margin-bottom: 15px;
	border-radius: 30px;	
}
.pro-name , .cv-imgcap
{
	color: white;
}
.pro-name{
	font-size: 1.6rem;
}
.cv-imgcap{
	width: 750px;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 15px;
	background-color: grey;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 30px;

}
/* Nav and title*/
/* Nav and title resposiveness*/
@media  (max-width: 991px){
	.cv-imgcap{
	width: auto;
	text-align: center;
	font-size: 1.5rem;
	margin: 15px;
	background-color: grey;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 30px;

}
.pro-name{
	font-size: 1.3rem;
	text-align: center;
}
.cv-img{

	width:200px;
	height: auto;
	margin-bottom: 15 px;
	border-radius: 30px;	
}

}





/* Nav and title resposiveness*/
/* Education Section*/
#education {

	
	width: 80%;
	margin:auto;

	
	background-color: white;
	color: black;
	



}
.edu-wrapper{
	padding-top:.1px;
	padding-bottom: 50px;
}

h2{
	color: #0E9AA7;
	text-align: center;
	margin-top: 100px;
	font-size: 2.5rem;
	margin-bottom: 15px;
}
.edu-content{

	
	display: flex;
	justify-content: center;
	margin-top: 30px;
	

}
.edu-content2{

	
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 10px;
	

}
.edu-items{
	padding-left: 40px;
	align-self: center;
}
#education .one{
	font-size: 1.9rem;
	margin-right: 60px;	
	color: #CF7500;
	font-family: sans-serif;
	text-align: center;
	padding:

}
#education .three{
	width: 500px;
	font-size: 1.8rem;
	color: #0E9AA7;
	text-align: center;
	padding: 10px;
}
.edu-bar{
	border-left: 2px solid grey; 
            height: 150px; 
}
.edu-heading{
	width: 30%;
}
/* Education Section responsiveness*/


@media (max-width: 1135px){

.edu-wrapper{
	padding-top:1px;
	padding-bottom: 50px;
}
#education .one{
	font-size: 1.5rem;
	margin-right: 60px;	
	color: #CF7500;
	font-family: sans-serif;
	text-align: center;
	padding:

}
#education .three{
	width: 80%;
	font-size: 1.4rem;
	color: #0E9AA7;
	text-align: center;
}
.edu-items{
	padding-left: 10px;
	align-self: center;
}






}


/* Education Section responsiveness*/
/* Skill Section*/


#skills{
	color: white;
	width: 80%;
	margin:auto;
	margin-top:20px;
	height: auto;
	background-color: lightgrey;
	padding: 20px;
	
}
.skill-heading{
	padding: 30px;
	margin:0;
}

.wrapper{
	margin-top: 20px;
	width: 60%;
	margin:auto;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 1.5em;
	grid-row-gap: 1.5em;


}
.skill
{
	font-size: 2rem;
	text-align: left;
	color: #CF7500;
}
.bar
{
	width: 100%;
	border-radius: 1px;
	display: flex;
	text-align: center;
	border-radius: 20px;
	background-color: white;
	height: 2vh;
	font-size: .6rem;
		
}
.dj-bar,.py-bar,.ps-bar,.xd-bar,.wp-bar,.js-bar,.css-bar,.bs-bar,.css-bar,.html-bar
{
	border-radius: 20px;
	height: 2vh;
	background-color: #0E9AA7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.html-bar{
	
	width: 90%;
	
}
.css-bar,.ps-bar{
	width: 80%;
	
}
.bs-bar{
	width: 75%;
	
}

.js-bar{
	width: 50%;
	
}
.wp-bar{
	width: 60%;
	
}
.xd-bar{
	width: 70%;
	
}

.py-bar{
	width: 55%;
	
	
}
.dj-bar{
	width: 40%;	
}


/* Skill Section*/
/* Skill Section responsiveness*/

@media  (max-width: 991px){
.wrapper{
	margin-top: 20px;
	width: 90%;
	margin:auto;
	display: flex;
	flex-direction: column;

}
.skill{
	margin: 20px 20px 20px 0;
}
.dj-bar,.py-bar,.ps-bar,.xd-bar,.wp-bar,.js-bar,.css-bar,.bs-bar,.css-bar,.html-bar
{
	font-size: .6rem;
}

}
/* Skill Section responsiveness*/

/* Career Objective Section*/
#car-obj{

	width: 80%;
	margin: auto;
	background-color: white;
	
	margin-top: 20px;
	text-align: center;
	padding: 100px;



}
.career{

width: 60%;
margin: auto;

}
.car-disc{
	font-size: 2rem;
	color: #CF7500;
}
.car-title{
	color: #08ADDC;
	margin-bottom: 20px;
	font-size:2.5rem;
}



/* Career Objective Section*/
/* Career Objective Section responsiveness*/

@media(max-width: 1064px)
{
#car-obj{
width: 100%;
padding: 40px;

}
.car-title{

}
.career{
	width: 100%;
	margin: auto;

}
.car-disc{

}

}



/* Career Objective Section responsiveness*/
/* Career History Section */

#car-his{
	width: 80%;
	margin: auto;
	background-color: white;
	margin-top: 20px;
	height: auto;
	


}
.his-content{
	width: 70%;
	margin: auto;
	display: flex;
		
}

.his-title{

width:1000px;
height: auto;
background-color: lightgrey;
display: flex;
align-items: center;
justify-content: center;
margin-right: 20px;
padding:20px;


}

.his-disc{
display: flex;

justify-content: center;
align-items: center;
text-align: center;

}
.his{
	font-weight:bold; 
}
.his-h3{		
	color: #08ADDC;
	font-size: 1.8rem;

}
.his-p{
	
	width: 70%;
	margin: auto;
color: #CF7500;
font-size: 1.8rem;
}
.history-main{

	padding: 20px;

}



/* Career History Section*/
/* Career History Section responsiveness*/
@media(max-width: 1064px)
{

#car-his{
	width: 100%;
	margin: auto;
	margin-top: 20px;
}
.his-content{
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 100%;
	margin: auto;
	padding: 20px;
	
}
.his-h3{
	

	font-size: 2rem;
	margin: 0;

}
.history-main{

	padding: 0;

}
.his-p{
	
	width: 800%;
	margin: auto;
color: #CF7500;
font-size: 1.5rem;
margin: 0;
text-align: center;
}
.his-title{

width:auto;
height: auto;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
margin: 0;

}


}


/* Career History Section responsiveness*/
/* Footer Section*/

#footer{
	width: 80%;
	margin: auto;
	height:auto;
	color:#fff;
	background-color:grey;
	
	

}


.footer-contents{
	display: flex;
	justify-content: space-around;
	padding: 20px;

}
.copyright,.ft{
	font-family: 'Cormorant Garamond', serif;
	margin: 0;
	font-size: 1rem;


}
.social-links a{
margin-left: 5px;
margin-right: 5px;
}
.copyrights{
	text-align: center;
	font-size: 1.3rem;
	
}
.fb{

color: #3b5998;
}
.fb:hover{
color: darkblue;
}
.insta{
	color: #833AB4;;

}
.insta:hover{
	color: #C13584;

}
.linked-in{
	color: #FFFFFF;
}
.linked-in:hover{
	color: #2867B2;
}


.twitter{
	color: #1DA1F2;
}
.twitter:hover{
	
	color: #14171A;
}
.social-icons{
opacity: 1;
}
.copy-symbol{
	font-family: arial;
	font-size: .9rem;
}



/* Footer Section */
/* Footer Section Responsiveness*/

@media(max-width: 1064px){
	#footer{
	width: 80%;
	margin: auto;
	color: #fff;

	
	
}

.copyrights{
	text-align: center;

}
@media(max-width: 650px){
	.footer-contents{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding: 20px;


}

.social-links{
	padding: 10px;

}
.email{
	text-align: center;
	padding: 20px;
}
.address{
	text-align: center;
	padding: 20px;
	
	
}
}




/* Footer Section Responsiveness*/
@media (max-width:1066px){
#title,#education,#skills,#car-obj,#car-his,#footer{
	width: 100%;	
	height:auto;	
}

}